* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  filter: brightness(0.8);
  transition: 0.2s;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
}

:root {
  --white: #ffffff;

  --gray-800: #2b2b31;
  --gray-900: #141416;

  --yellow-500: #f7a308;

  --red-500: #ef0b1a;
}

header {
  background-color: var(--gray-900);
  padding: 0px 20px 0px 20px;
  height: 100px;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
}

header > nav > img {
  width: 100px;
}

header > nav > button {
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  color: var(--white);
  font-size: 1.6rem;
  padding-top: 10px;
}

header > nav > a {
  display: none;
}

#dropdown {
  position: absolute;
  top: 98px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  background-color: var(--gray-900);
  overflow: hidden;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 0;
}

#dropdown.open {
  border-top: 1px solid var(--gray-800);
  height: 60px;
}

#dropdown li {
  list-style: none;
}

#dropdown li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}

#cheapest {
  background-image: url(./assets/slogam-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  width: 100%;
  height: 340px;
  font-weight: 400;
  word-spacing: -6px;
  font-size: 3rem;
  line-height: 3.4rem;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#cheapest div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.38);
}

#cheapest strong {
  color: var(--yellow-500);
  font-weight: 700;
}

#info {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info > div > img {
  width: 100px;
  border-radius: 4px;
}

#info > div > strong {
  margin-top: 10px;
  color: var(--red-500);
  font-weight: 700;
  font-size: 1.2rem;
}

#info > div > span {
  margin-top: 2px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-800);
}

#units {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#units > a {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--red-500);
  color: var(--white);
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 4px;
}

#map {
  border-top: 2px solid var(--gray-800);
  margin-top: 40px;
  background-image: url(./assets/second-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}

#map > div {
  margin: 0 auto;
  background-image: url(./assets/map.png);
  width: calc(903px / 3.5);
  height: calc(964px / 3.5);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

#map > div > img {
  margin-top: 160px;
  width: 120px;
  height: 90px;
  margin-left: auto;
}

footer {
  border-top: 1px solid var(--gray-800);
  background-color: var(--gray-900);
  padding: 10px 20px;
}

#help {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#help span {
  font-weight: 400;
  color: var(--white);
  font-size: 0.9rem;
}

#help strong {
  color: var(--red-500);
  font-weight: 400;
  font-size: 1.2rem;
}

#help a {
  margin-top: 4px;
  color: var(--red-500);
  font-weight: 400;
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

#help i {
  color: var(--red-500);
}

#media {
  margin-top: 10px;
}

#media > nav {
  display: flex;
  gap: 10px;
}

#media > span {
  font-weight: 400;
  color: var(--white);
  font-size: 0.9rem;
}

#media > nav > a {
  text-decoration: none;
}

#media > nav > a > img {
  margin-top: 10px;
  width: calc(84px / 4);
  height: calc(84px / 4);
}

@media (min-width: 768px) {
  header > nav {
    padding: 0 4%;
  }

  header > nav > button {
    display: none;
  }

  header > nav > a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--red-500);
    color: var(--white);
    font-size: 1.15rem;
    display: block;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  #dropdown.open {
    display: none;
  }

  #cheapest {
    height: 600px;
    font-size: 4rem;
    line-height: 4rem;
  }

  #cheapest > div {
    padding: 0 4%;
  }
}

@media (min-width: 1280px) {
  header > nav {
    padding: 0 20px;
  }

  #cheapest {
    height: 700px;
    font-size: 5rem;
    line-height: 6rem;
  }

  #cheapest > div {
    padding: 0 20px;
  }

  #info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
  }

  #info > div > img {
    width: 140px;
    border-radius: 4px;
  }

  #info > div > strong {
    margin-top: 10px;
    color: var(--red-500);
    font-weight: 700;
    font-size: 1.6rem;
  }

  #info > div > span {
    margin-top: -4px;
    font-weight: 400;
    font-size: 1.4rem;
  }

  #units > a {
    margin-top: 40px;
  }

  #units > a {
    padding: 14px;
    font-size: 1.2rem;
  }

  #map > div {
    width: calc(903px / 2);
    height: calc(964px / 2);
  }

  #map > div > img {
    margin-top: 140px;
    width: 300px;
    height: 200px;
    margin-left: 340px;
  }

  #help span {
    font-size: 1.4rem;
  }

  #help strong {
    font-size: 2rem;
  }

  #help a {
    gap: 10px;
    font-size: 1.2rem;
  }

  #media > span {
    font-size: 1.2rem;
  }

  #media > nav > a > img {
    margin-top: 10px;
    width: calc(84px / 3);
    height: calc(84px / 3);
  }
}
